@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The site is built using the ASP.NET MVC Core framework. The background image copyright belongs to Reign of Judges.</p>
