@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    850 Lone Coyote Trail<br />
    Kalispell, MT 59901<br />
    <strong>E-Mail:</strong> <a href="mailto:csbrownnine@byui.edu">csbrownnine@byui.edu</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/csbrownnine">Chris on Facebook</a><br />
</address>
